$animationSpeed: 180s;
$lightness: 40%;
$saturation: 30%; // 0% - 100%
$startingHue: 0; // deg of hue
$gradientStrength: 40; // deg of hue
$backgroundColor: hsl($startingHue, $saturation, $lightness);
$gradientColor: hsl(($startingHue - $gradientStrength), $saturation, $lightness);
$gradient: linear-gradient(to bottom, $backgroundColor, $gradientColor);

#gradient-bg {
	background: $backgroundColor;
	animation: hue $animationSpeed infinite linear;
	position: fixed;
	top: -300px;
	bottom: -300px;
	left: -300px;
	right: -300px;
	z-index: -1;
}

@-webkit-keyframes hue {
  from {
	 -webkit-filter: hue-rotate(0deg);
  }

  to {
	 -webkit-filter: hue-rotate(-360deg);
  }
}